social-content-bot/workflows/social-content-bot.json
{
  "name": "Build 5 - social-content-bot",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Turn the idea below into platform-tailored posts.\n\nIdea: {{ $json.idea }}",
        "messages": {
          "messageValues": [
            {
              "message": "=You are a social content writer building a personal brand on professional and\ncreative platforms. Voice: sharp, honest, encouraging. Audience: professionals,\njob seekers, and early-career builders.\n\nRules:\n- Lead every post with a strong first line that earns the scroll-stop.\n- Write like a real person. No hype words, no emoji spam, no \"in today's world,\"\n  no generic AI phrasing (\"unlock,\" \"leverage,\" \"game-changer,\" \"dive in\").\n- Each post must stand alone and make sense without the others.\n- No fabricated stats, quotes, or names. Specific and concrete beats vague.\n- One clear call-to-action per post.\n\nTurn the idea below into platform-tailored posts:\n- linkedin: text (<=1200 chars, professional but human, 1 CTA, 2-3 hashtags) and\n  hook (the first line on its own).\n- x: text (<=270 chars, punchy, 1-2 hashtags).\n- instagram: caption (<=300 chars, warm and personal) and hashtags (5-10 relevant tags).\nReturn ONLY valid minified JSON in exactly this shape — no markdown, no code fences, no headings, no commentary:\n{\"output\":{\"linkedin\":{\"hook\":\"\",\"text\":\"\"},\"x\":{\"text\":\"\"},\"instagram\":{\"caption\":\"\",\"hashtags\":[]}}}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        416,
        0
      ],
      "id": "ff006b26-a5cc-485f-a567-08c28211a1b8",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "responsesApiEnabled": false,
        "options": {
          "responseFormat": "json_object"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        416,
        176
      ],
      "id": "207a31b8-9e3b-4730-ae3f-4e54b2853eff",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "SYpGRkU0nCCv3rd3",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Improve these draft posts:\n\n{{ JSON.stringify($json.output) }}",
        "messages": {
          "messageValues": [
            {
              "message": "=You are a ruthless social media editor. You receive draft posts for LinkedIn, X,\nand Instagram. For each one, silently score it 1-10 on (a) hook strength,\n(b) clarity, (c) on-brand voice — sharp, honest, encouraging. Then rewrite each\npost to fix its single weakest dimension, while keeping that platform's length\nlimit and norms (LinkedIn <=1200, X <=270, Instagram caption <=300, 5-10 tags).\n\nDo not add fabricated stats or quotes. Return only the improved posts in the same\nJSON structure (linkedin, x, instagram). No scores, no commentary."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        848,
        0
      ],
      "id": "4aa31ce6-2106-4c27-8766-8f631d616037",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "responsesApiEnabled": false,
        "options": {
          "responseFormat": "json_object"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        768,
        208
      ],
      "id": "b82b3cec-2e7b-422b-95ef-3871660c6234",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "SYpGRkU0nCCv3rd3",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_SHEET_ID",
          "mode": "list",
          "cachedResultName": "YOUR_SHEET_ID"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "status",
              "lookupValue": "todo"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "12936ba0-13d1-45b8-b0e3-095ad44be885",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yMqkk4M0kF50KIC0",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SHEET_ID",
          "mode": "list",
          "cachedResultName": "YOUR_SHEET_ID"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Get row(s) in sheet').first().json.row_number }}",
            "status": "posted",
            "posted_at": "={{ $now.toISO() }}",
            "linkedin_url": "={{ $json.postIds[0].postUrl }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "idea",
              "displayName": "idea",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "platform",
              "displayName": "platform",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "posted_at",
              "displayName": "posted_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "linkedin_url",
              "displayName": "linkedin_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "x_url",
              "displayName": "x_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "instagram_url",
              "displayName": "instagram_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2032,
        -16
      ],
      "id": "3fce7d77-dfb7-449a-b5c3-c1df2e620df6",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yMqkk4M0kF50KIC0",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "YOUR_SLACK_CHANNEL_ID",
          "mode": "id"
        },
        "message": "=*New posts ready for review*  —  idea: {{ $('Get row(s) in sheet').first().json.idea }}\n\n*LinkedIn:*\n{{ $json.output.linkedin.text }}\n\n*X:*\n{{ $json.output.x.text }}\n\n*Instagram:*\n{{ $json.output.instagram.caption }}\n{{ $json.output.instagram.hashtags.join(' ') }}",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {
          "appendAttribution": true
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [
        1376,
        0
      ],
      "id": "be0a677e-ff69-486b-a68f-4eba4d4076ea",
      "name": "Send message and wait for response",
      "webhookId": "ef71b17e-98a5-4620-934c-62bf24002ff3",
      "credentials": {
        "slackApi": {
          "id": "1OmcAA2AKHVVunVC",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "dbe06441-6771-45f2-8834-392b012dd4c8",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1552,
        0
      ],
      "id": "91ef3c9c-42e8-4202-ba60-330062548f84",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ayrshare.com/api/post",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {{ JSON.stringify($('Normalize Final').first().json.output.linkedin.text) }},\n  \"platforms\": [\"linkedin\"]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1840,
        -16
      ],
      "id": "a1f2862f-cc73-4756-83f9-7e1e5f7583e3",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "trHSo3RUnBy8ZqXd",
          "name": "Ayrshare Header Auth Local"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 9 * * 1,3,5"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "5de30f43-a11b-4c23-991a-d110904b607d",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "const j = $input.item.json;\nlet obj;\nif (typeof j.text === 'string') {\n  // Cloud / string case: parse the JSON string\n  const s = j.text.replace(/```json\\s*/gi, '').replace(/```/g, '').trim();\n  obj = JSON.parse(s.slice(s.indexOf('{'), s.lastIndexOf('}') + 1));\n} else {\n  obj = j;                       // self-host case: already a parsed object\n}\nif (!obj.output) obj = { output: obj };   // force consistent {output:{…}} shape\nreturn { json: obj };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        0
      ],
      "id": "73d573e7-255c-436a-8b80-be30c08939eb",
      "name": "Normalize Draft"
    },
    {
      "parameters": {
        "jsCode": "const j = $input.item.json;\nlet obj;\nif (typeof j.text === 'string') {\n  // Cloud / string case: parse the JSON string\n  const s = j.text.replace(/```json\\s*/gi, '').replace(/```/g, '').trim();\n  obj = JSON.parse(s.slice(s.indexOf('{'), s.lastIndexOf('}') + 1));\n} else {\n  obj = j;                       // self-host case: already a parsed object\n}\nif (!obj.output) obj = { output: obj };   // force consistent {output:{…}} shape\nreturn { json: obj };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        0
      ],
      "id": "1815aefd-c2e6-4b7d-9b4d-f8c8d1277115",
      "name": "Normalize Final"
    },
    {
      "parameters": {
        "content": "## ✍️ Build 5 - Social Content Bot\nScheduled: AI drafts + refines social posts, logs them to Google Sheets, publishes via HTTP, and pings Slack for review.\n**OpenAI - Google Sheets - Slack - HTTP**",
        "height": 479,
        "width": 222,
        "color": 7
      },
      "id": "5e325fda-65c1-450d-8265-5651570cfed8",
      "name": "Sticky · Schedule",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -60,
        -111
      ]
    },
    {
      "parameters": {
        "content": "## Get idea\nNext idea from the sheet.",
        "height": 479,
        "width": 361,
        "color": 2
      },
      "id": "fdb46b29-7909-4647-81b3-70c842d5493c",
      "name": "Sticky · Get idea",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        162,
        -111
      ]
    },
    {
      "parameters": {
        "content": "## Draft + self-critique\nTwo LLM passes — write, then refine for quality.",
        "height": 479,
        "width": 628,
        "color": 3
      },
      "id": "58269eac-8f73-44eb-9663-107725db23ef",
      "name": "Sticky · Draft + self-critique",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        523,
        -111
      ]
    },
    {
      "parameters": {
        "content": "## Human gate\nSlack Approve / Decline before anything is posted.",
        "height": 479,
        "width": 607,
        "color": 6
      },
      "id": "57fae0d2-5b32-4dc5-9d2c-80a2e1c4c84d",
      "name": "Sticky · Human gate",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1151,
        -111
      ]
    },
    {
      "parameters": {
        "content": "## Publish + log\nAyrshare posts it, then the live link is written back to the sheet.",
        "height": 479,
        "width": 449,
        "color": 7
      },
      "id": "74debffb-0d43-4cef-bd5c-823d6ff77492",
      "name": "Sticky · Publish + log",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1758,
        -111
      ]
    }
  ],
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Normalize Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Normalize Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message and wait for response": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Draft": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Final": {
      "main": [
        [
          {
            "node": "Send message and wait for response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  }
}
