crm-lead-engine/workflows/inbound-lead-capture.json
{
  "name": "Build 8 - Inbound Lead Capture",
  "nodes": [
    {
      "parameters": {
        "content": "## New email",
        "height": 863,
        "width": 390,
        "color": 5
      },
      "id": "e287271d-ae8b-49d1-a79d-f15d0eeb3e7c",
      "name": "Sticky · New email",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -60,
        -383
      ]
    },
    {
      "parameters": {
        "content": "## Qualify the lead\nIs it a lead? Temperature, contact, intent, quality.",
        "height": 863,
        "width": 480,
        "color": 3
      },
      "id": "520771bb-7a8a-467d-8611-26987611bb33",
      "name": "Sticky · Qualify the lead",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        330,
        -383
      ]
    },
    {
      "parameters": {
        "content": "## Route by temperature",
        "height": 863,
        "width": 648,
        "color": 6
      },
      "id": "4280107f-8ae3-4c79-8ce4-1b86f1e8bff2",
      "name": "Sticky · Route by temperature",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        810,
        -383
      ]
    },
    {
      "parameters": {
        "content": "## Capture + reply\nUpsert into HubSpot, label, auto-reply to hot/warm, alert Slack.",
        "height": 863,
        "width": 1069,
        "color": 7
      },
      "id": "44468652-a297-404d-9935-71a1fc78302c",
      "name": "Sticky · Capture + reply",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1458,
        -383
      ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "02dbd46f-b223-474a-9cc0-c8115d220c2c",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "dku6asR2rjX2ypmP",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.id }}",
        "simple": false,
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "b3e90948-647e-4e1b-bbba-ed11e2be85b2",
      "name": "Get a message",
      "webhookId": "7baea07a-2cc8-42a7-8c0b-7191e6f98481",
      "credentials": {
        "gmailOAuth2": {
          "id": "dku6asR2rjX2ypmP",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "responsesApiEnabled": false,
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        384,
        176
      ],
      "id": "52be901b-c385-489b-8310-f7cf5723f2f9",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "SYpGRkU0nCCv3rd3",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "text": "=Subject: {{ $json.subject }}\nBody: {{ $json.text }}",
        "attributes": {
          "attributes": [
            {
              "name": "is_lead",
              "type": "boolean",
              "description": "true if a possible sales lead (complete, partial, or inquiry); false only for clearly non-sales mail."
            },
            {
              "name": "confidence",
              "type": "number",
              "description": "0–100 confidence in the is_lead decision"
            },
            {
              "name": "reason",
              "description": "One sentence justifying the decision."
            },
            {
              "name": "lead_temperature",
              "description": "hot / warm / cold; \"none\" if not a lead."
            },
            {
              "name": "contact_name",
              "description": "Lead's full name; \"\" if unknown."
            },
            {
              "name": "company_name",
              "description": "\tCompany; infer from business email domain if blank; \"\" if none."
            },
            {
              "name": "contact_email",
              "description": "Lead's email from the body/signature; \"\" if none."
            },
            {
              "name": "phone",
              "description": "Phone from the body; \"\" if none."
            },
            {
              "name": "intent",
              "description": "Short phrase for what they want."
            },
            {
              "name": "summary",
              "description": "One sentence about the lead."
            },
            {
              "name": "data_quality_score",
              "type": "number",
              "description": "0–100 completeness of the lead info."
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "=You are a senior SDR triaging an inbound email inbox. For each email you must\n(a) decide if it is a POSSIBLE SALES LEAD, and (b) if so, extract the lead's details.\n\nis_lead = true when a real person shows genuine interest in a business's product or\nservice — in ANY form: complete details, partial details, or just an inquiry\n(\"Do you offer X?\", \"How much?\", \"Can I get a demo/quote?\"). Treat missing info as a\ndata-quality issue, NEVER a reason to reject. When genuinely ambiguous, choose true.\n\nis_lead = false ONLY for clearly non-sales mail: newsletters, marketing blasts,\npromotions, receipts/invoices, shipping/order notices, password resets, security\nalerts, calendar invites, social notifications, out-of-office replies, spam, and\ninternal or personal messages.\n\nIMPORTANT: If the email is our OWN outbound acknowledgment — it thanks the recipient\nfor reaching out, says a team member will follow up, and is signed \"The Team\" — set\nis_lead = false. Never treat our own sent replies as leads.\n\nIf is_lead is false, set lead_temperature to \"none\" and leave contact fields \"\".\n\nWhen is_lead is true:\n- Pull name, company, email, phone from the body/signature; use \"\" for anything missing.\n  The lead's real email is usually in the body, not the envelope sender.\n- lead_temperature: hot = explicit buying signal (demo/quote/pricing/urgent);\n  warm = interested/exploring/asking; cold = vague or info-gathering only.\n- intent: one short phrase for what they want.\n- summary: one sentence describing the lead.\n- data_quality_score: score the ORIGINAL email's completeness. Start at 0 and add:\n  +25 full name, +25 identifiable company, +20 business (non-personal) email,\n  +15 phone number, +15 job title/role. Cap at 100. (Fully-detailed lead ≈ 100;\n  a name + email with nothing else ≈ 45.)\n- confidence: 0-100 for how sure you are about is_lead.\n- reason: one sentence justifying the is_lead decision.\nNever invent facts. Infer company from the email domain only if it is a business domain."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        496,
        0
      ],
      "id": "5059c65a-8253-4c6a-91f9-b40ba6a34f94",
      "name": "Lead Qualifier"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "82339ea3-e8ad-4b1d-a2a6-9b670a6721a0",
              "leftValue": "={{ $json.output.is_lead }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "2810c03f-5088-4d41-92a2-1ad700bfc5b4",
              "leftValue": "={{ $json.output.contact_email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        848,
        0
      ],
      "id": "5d831a5a-cf82-4770-8b0f-be5bc0e2d3db",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Get a message').item.json.id }}",
        "labelIds": [
          "YOUR_GMAIL_LABEL_ID"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1536,
        -144
      ],
      "id": "d80a5fde-e23a-4c86-a767-ded1b43fe666",
      "name": "Add label to message",
      "webhookId": "8861db7f-3ac8-4581-a5df-02ca90aa4769",
      "credentials": {
        "gmailOAuth2": {
          "id": "dku6asR2rjX2ypmP",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "YOUR_SLACK_CHANNEL_ID",
          "mode": "id"
        },
        "text": "=🆕 New {{ $('Lead Qualifier').item.json.output.lead_temperature }} lead\n👤 {{ $('Lead Qualifier').item.json.output.contact_name }} — {{ $('Lead Qualifier').item.json.output.company_name }}\n📧 {{ $('Lead Qualifier').item.json.output.contact_email }}\n💬 {{ $('Lead Qualifier').item.json.output.intent }}\n📊 Data quality: {{ $('Lead Qualifier').item.json.output.data_quality_score }}/100\n{{ ['hot','warm'].includes($('Lead Qualifier').item.json.output.lead_temperature) ? '✅ Auto-reply sent — please review the thread' : '❄️ No auto-reply (cold lead)' }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [
        2352,
        -288
      ],
      "id": "a02ddbe3-8735-42e6-9afa-20136eb8692a",
      "name": "Send a message",
      "webhookId": "c16ce01d-2aee-49eb-8926-5d579cd66352",
      "credentials": {
        "slackApi": {
          "id": "1OmcAA2AKHVVunVC",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Lead Qualifier').item.json.output.lead_temperature }}",
                    "rightValue": "hot",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "f1de6c8e-8fca-4faf-8719-9511fe938958"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "2f372f2d-4b58-4b45-8b10-12a5ed83a7f9",
                    "leftValue": "={{ $('Lead Qualifier').item.json.output.lead_temperature }}",
                    "rightValue": "warm",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "28dfffa5-84bc-4270-8d3e-43c93a54f22b",
                    "leftValue": "={{ $('Lead Qualifier').item.json.output.lead_temperature }}",
                    "rightValue": "cold",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1280,
        -32
      ],
      "id": "4e3d5f32-1e8e-4f05-81fd-7b8742223738",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Get a message').item.json.id }}",
        "labelIds": [
          "YOUR_GMAIL_LABEL_ID"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1536,
        32
      ],
      "id": "ed9fd3c3-dbb2-43e9-9841-5ffd54b3e8f8",
      "name": "Add label to message1",
      "webhookId": "8861db7f-3ac8-4581-a5df-02ca90aa4769",
      "credentials": {
        "gmailOAuth2": {
          "id": "dku6asR2rjX2ypmP",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Get a message').item.json.id }}",
        "labelIds": [
          "YOUR_GMAIL_LABEL_ID"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1536,
        320
      ],
      "id": "291ee560-aff8-4e94-9f0e-f2d670294f53",
      "name": "Add label to message2",
      "webhookId": "8861db7f-3ac8-4581-a5df-02ca90aa4769",
      "credentials": {
        "gmailOAuth2": {
          "id": "dku6asR2rjX2ypmP",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a friendly, professional sales assistant writing a SHORT acknowledgment\nreply to an inbound lead. Output ONLY the email body — no subject line, no\nplaceholders like [Name].\n\nRules:\n- Warmly thank them by first name for reaching out.\n- Acknowledge what they asked about in one line.\n- Say a team member will follow up shortly to help / set up a quick call.\n- Do NOT quote prices, make commitments, promise features, or invent any details.\n- Keep it under 90 words. Warm, human, concise.\n- Sign off as \"The Team\".\n\nLead:\nName: {{ $('Lead Qualifier').item.json.output.contact_name }}\nCompany: {{ $('Lead Qualifier').item.json.output.company_name }}\nThey asked about: {{ $('Lead Qualifier').item.json.output.intent }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1808,
        -288
      ],
      "id": "17e6ab6f-b736-4151-bd8e-e1ac25ef9a98",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1808,
        -128
      ],
      "id": "7cb34a8d-f04c-459f-a13d-6d0062bfe46f",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "SYpGRkU0nCCv3rd3",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Get a message').item.json.id }}",
        "emailType": "text",
        "message": "={{ $json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2144,
        -288
      ],
      "id": "49174590-9a6e-446b-bbe4-ebe3481ff4f9",
      "name": "Reply to a message",
      "webhookId": "989431e6-2ce6-43ff-b026-f319b4776e3c",
      "credentials": {
        "gmailOAuth2": {
          "id": "dku6asR2rjX2ypmP",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "YOUR_SLACK_CHANNEL_ID",
          "mode": "id"
        },
        "text": "=🆕 New {{ $('Lead Qualifier').item.json.output.lead_temperature }} lead\n👤 {{ $('Lead Qualifier').item.json.output.contact_name }} — {{ $('Lead Qualifier').item.json.output.company_name }}\n📧 {{ $('Lead Qualifier').item.json.output.contact_email }}\n💬 {{ $('Lead Qualifier').item.json.output.intent }}\n📊 Data quality: {{ $('Lead Qualifier').item.json.output.data_quality_score }}/100\n{{ ['hot','warm'].includes($('Lead Qualifier').item.json.output.lead_temperature) ? '✅ Auto-reply sent — please review the thread' : '❄️ No auto-reply (cold lead)' }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [
        1808,
        320
      ],
      "id": "24638d9b-32d2-4370-a0ea-9da4a4fbe057",
      "name": "Send a message1",
      "webhookId": "c16ce01d-2aee-49eb-8926-5d579cd66352",
      "credentials": {
        "slackApi": {
          "id": "1OmcAA2AKHVVunVC",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/contacts/batch/upsert",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"inputs\": [\n    {\n      \"idProperty\": \"email\",\n      \"id\": \"{{ $json.output.contact_email }}\",\n      \"properties\": {\n        \"email\": \"{{ $json.output.contact_email }}\",\n        \"firstname\": \"{{ $json.output.contact_name.split(' ')[0] }}\",\n        \"lastname\": \"{{ $json.output.contact_name.split(' ').slice(1).join(' ') }}\",\n        \"company\": \"{{ $json.output.company_name }}\",\n        \"phone\": \"{{ $json.output.phone }}\",\n        \"lifecyclestage\": \"lead\",\n        \"lead_temperature\": \"{{ $json.output.lead_temperature }}\",\n        \"ai_summary\": \"{{ $json.output.summary }}\",\n        \"data_quality_score\": \"{{ $json.output.data_quality_score }}\",\n        \"ai_enriched\": \"true\"\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1104,
        -112
      ],
      "id": "bcb4e071-82df-433e-9cc1-58ba57bee8cf",
      "name": "HubSpot Upsert Lead1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "trHSo3RUnBy8ZqXd",
          "name": "HubSpot Header Auth Local"
        }
      }
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Get a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a message": {
      "main": [
        [
          {
            "node": "Lead Qualifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Lead Qualifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Lead Qualifier": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HubSpot Upsert Lead1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add label to message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add label to message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Reply to a message": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message2": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HubSpot Upsert Lead1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  }
}