ai-email-triage/workflows/ai-email-triage.json
{
  "name": "Build 6 - AI Email Triage",
  "nodes": [
    {
      "parameters": {
        "text": "=From: {{ $json.from }}\\nSubject: {{ $json.subject }}\\nBody: {{ $json.bodyTrimmed }}",
        "attributes": {
          "attributes": [
            {
              "name": "category",
              "description": " enum: urgent, needs_reply, sales_lead, newsletter, spam, support"
            },
            {
              "name": "priority",
              "description": "enum: high, medium, low"
            },
            {
              "name": "requires_reply",
              "type": "boolean",
              "description": "true if a real human clearly expects a response; false for automated/promotional mail"
            },
            {
              "name": "sentiment",
              "description": "enum: positive, neutral, negative"
            },
            {
              "name": "summary",
              "description": "One neutral sentence summarizing the email. Do not invent facts not in the email."
            },
            {
              "name": "suggested_action",
              "description": "A short suggested next action for handling this email"
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "You are an email triage classifier for a busy professional's inbox.\nRead the email and return ONLY the structured fields.\n\nRules:\n- category is the single best fit. If a real human clearly expects a\n  response, prefer needs_reply over support/sales_lead.\n- urgent = time-sensitive AND from a real person (deadlines, outages,\n  an upset customer). Marketing \"urgent!\" subject lines are NOT urgent.\n- spam/newsletter = automated, promotional, or no-reply senders.\n- summary is one neutral sentence. Do not invent facts not in the email.\n- If the email is ambiguous, choose the lower-risk category and set\n  priority to medium."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        640,
        0
      ],
      "id": "c351bee2-dc28-4edd-8262-570465b5a033",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        576,
        208
      ],
      "id": "25d66a4a-f91c-4930-82f1-a6db678dfd58",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "SYpGRkU0nCCv3rd3",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.category }}",
                    "rightValue": "urgent",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ed58c9c6-f3f0-45d4-95c1-00c6dafb3e0a"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "urgent"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "3e14815c-ac2d-41cc-a77b-109848fea2a7",
                    "leftValue": "={{ $json.output.category }}",
                    "rightValue": "needs_reply",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "needs_reply"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c2460b00-cd29-4973-82fc-8564df097eff",
                    "leftValue": "={{ $json.output.category }}",
                    "rightValue": "sales_lead",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "sales_lead"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "3d7b04ec-9421-45c4-88ae-01cefa44a7d3",
                    "leftValue": "={{ $json.output.category }}",
                    "rightValue": "newsletter",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "newsletter"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "cbe52dd2-fadd-42c3-b19c-ee783af29ef6",
                    "leftValue": "={{ $json.output.category }}",
                    "rightValue": "spam",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "spam"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1008,
        0
      ],
      "id": "5a2c0dae-7eb8-4417-94a3-7ee72fbba18c",
      "name": "Switch"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_SLACK_CHANNEL_ID"
        },
        "text": "=🚨 Urgent email from {{ $('Normalize').first().json.from }}\nSubject: {{ $('Normalize').first().json.subject }}\nSummary: {{ $json.output.summary }}\nSuggested action: {{ $json.output.suggested_action }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [
        1184,
        -416
      ],
      "id": "01726be5-21b2-43eb-89d5-33309190e669",
      "name": "Send a message",
      "webhookId": "abc34a17-096d-4047-bdde-f1984001190c",
      "credentials": {
        "slackApi": {
          "id": "1OmcAA2AKHVVunVC",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4db2eb21-4798-4370-9d0e-7f7d6e89539d",
              "name": "from",
              "value": "={{ $json.From }}",
              "type": "string"
            },
            {
              "id": "35c002fa-ba57-43b2-9e0a-0b293516e941",
              "name": "subject",
              "value": "={{ $json.Subject }}",
              "type": "string"
            },
            {
              "id": "570e6abb-a3b4-4773-9738-582cc3a09c6e",
              "name": "bodyTrimmed",
              "value": "={{ ($json.text || $json.snippet).slice(0, 4000) }}",
              "type": "string"
            },
            {
              "id": "b4648473-fe86-4fb6-aaf6-fd7740039aeb",
              "name": "threadId",
              "value": "={{ $json.threadId }}",
              "type": "string"
            },
            {
              "id": "bd0a89ac-ec52-4e71-9c0a-ab1aaa95aff7",
              "name": "messageId",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "e098e854-3b64-4a30-9302-26dfdb6c559e",
      "name": "Normalize"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Conversation so far: (none yet)\nLatest email to answer:\nFrom: {{ $('Normalize').first().json.from }}\nSubject: {{ $('Normalize').first().json.subject }}\nBody: {{ $('Normalize').first().json.bodyTrimmed }}",
        "messages": {
          "messageValues": [
            {
              "message": "=You are drafting a reply on behalf of Patrick.\n\nWrite a reply to the email below. Constraints:\n- Match the sender's tone; default to warm but concise (3-6 sentences).\n- Address every question or request explicitly.\n- Do NOT invent commitments, prices, dates, or facts. If information is\n  missing, write a placeholder in [brackets] for the user to fill.\n- End with the signature: \"Patrick\".\n- Output only the email body — no subject line, no preamble.\n\n- For any yes/no question about features, pricing, or policies, do NOT assume the answer. Use a placeholder like \"[confirm: is onboarding included?]\" unless the answer is stated in the email."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1232,
        -224
      ],
      "id": "6605592b-7916-4de2-8830-8982f648183f",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1008,
        -160
      ],
      "id": "8fd41fc6-51e2-4266-918f-3e178a61712b",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "SYpGRkU0nCCv3rd3",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "maxResults": 1,
        "filters": {
          "q": "is:unread -label:triaged"
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.4,
      "position": [
        208,
        0
      ],
      "id": "21f46fa7-57c8-49d6-9c67-bba651c15c83",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "dku6asR2rjX2ypmP",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $('Normalize').first().json.messageId }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1520,
        80
      ],
      "id": "80cd794a-0c5c-4904-9569-13299ad54464",
      "name": "Mark a message as read",
      "webhookId": "64e4e167-8c40-4416-99cd-972391b4b806",
      "credentials": {
        "gmailOAuth2": {
          "id": "dku6asR2rjX2ypmP",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Normalize').first().json.messageId }}",
        "labelIds": [
          "YOUR_GMAIL_LABEL_ID"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1664,
        80
      ],
      "id": "26ee4321-6b68-4839-8022-b5cc88737f55",
      "name": "Add label to message",
      "webhookId": "7ba2baa4-d72f-43e1-8c32-d22de733b359",
      "credentials": {
        "gmailOAuth2": {
          "id": "dku6asR2rjX2ypmP",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "messageId": "={{ $('Normalize').first().json.messageId }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1520,
        224
      ],
      "id": "bc05b3b3-e004-4228-830c-d3fadb24a638",
      "name": "Delete a message",
      "webhookId": "322f47a6-5765-4892-abe9-96a2a8df75ba",
      "credentials": {
        "gmailOAuth2": {
          "id": "dku6asR2rjX2ypmP",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "=Re: {{ $('Normalize').first().json.subject }}",
        "message": "={{ $json.text }}",
        "options": {
          "threadId": "={{ $('Normalize').first().json.threadId }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1520,
        -224
      ],
      "id": "6be4d62d-d2c8-4f8e-a296-88075d2fa75e",
      "name": "Create a draft",
      "webhookId": "8e5a553b-f7fd-4308-aa34-805c9ed0a2cb",
      "credentials": {
        "gmailOAuth2": {
          "id": "dku6asR2rjX2ypmP",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Normalize').first().json.messageId }}",
        "labelIds": [
          "YOUR_GMAIL_LABEL_ID"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1664,
        -224
      ],
      "id": "14aa9fbe-d350-4c7d-955f-ebd33702c5a3",
      "name": "Add label to message2",
      "webhookId": "b806dc57-f152-456d-bba6-882d7fd6e092",
      "credentials": {
        "gmailOAuth2": {
          "id": "dku6asR2rjX2ypmP",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_SLACK_CHANNEL_ID"
        },
        "text": "=💰 New sales lead from {{ $('Normalize').first().json.from }} — {{ $json.output.summary }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [
        1328,
        -80
      ],
      "id": "f6ef77c8-8bdf-44b2-9f33-842ec3fdb44b",
      "name": "Send a message1",
      "webhookId": "9df22644-0ebc-45b1-8f5f-675740538df8",
      "credentials": {
        "slackApi": {
          "id": "1OmcAA2AKHVVunVC",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Normalize').first().json.messageId }}",
        "labelIds": [
          "YOUR_GMAIL_LABEL_ID"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1520,
        -80
      ],
      "id": "109a8006-432c-424b-a1a7-9422c4e3a9c6",
      "name": "Add label to message3",
      "webhookId": "74cc55a4-4d40-43fe-8a29-31a163e25b39",
      "credentials": {
        "gmailOAuth2": {
          "id": "dku6asR2rjX2ypmP",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Normalize').first().json.messageId }}",
        "labelIds": [
          "YOUR_GMAIL_LABEL_ID"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1520,
        400
      ],
      "id": "b100381c-3b98-43b7-b0c1-39c5ea636ddc",
      "name": "Add label to message4",
      "webhookId": "431861c1-2549-447b-aaf4-2d8a6639a9ef",
      "credentials": {
        "gmailOAuth2": {
          "id": "dku6asR2rjX2ypmP",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Normalize').first().json.messageId }}",
        "labelIds": [
          "YOUR_GMAIL_LABEL_ID"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1392,
        -416
      ],
      "id": "559996d9-508b-4b66-a3cd-a65e254cc2f1",
      "name": "Add label to message5",
      "webhookId": "8117cdab-f493-44d3-8ba2-565b9da12c71",
      "credentials": {
        "gmailOAuth2": {
          "id": "dku6asR2rjX2ypmP",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "content": "## 📧 Build 6 - AI Email Triage\nEvery inbound Gmail is classified by AI, then routed - auto-drafts, labels, forwards, or escalates to Slack - based on intent.\n**OpenAI - Gmail - Slack**",
        "height": 1071,
        "width": 222,
        "color": 7
      },
      "id": "d24aa5ef-2f42-4e0f-b596-99393f35831b",
      "name": "Sticky · 1 · Trigger",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        148,
        -511
      ]
    },
    {
      "parameters": {
        "content": "## 2 · Normalize\nFlatten to from / subject / body.",
        "height": 1071,
        "width": 200,
        "color": 2
      },
      "id": "925f30f0-e3c3-48ca-a522-f86b3892e7ba",
      "name": "Sticky · 2 · Normalize",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        370,
        -511
      ]
    },
    {
      "parameters": {
        "content": "## 3 · Classify with AI\nExtract category, priority, sentiment, suggested action.",
        "height": 1071,
        "width": 296,
        "color": 3
      },
      "id": "6f356091-13a8-4a73-984b-e722beb9707f",
      "name": "Sticky · 3 · Classify with AI",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        570,
        -511
      ]
    },
    {
      "parameters": {
        "content": "## 4 · Route\nSwitch on the category.",
        "height": 1071,
        "width": 407,
        "color": 6
      },
      "id": "50ee5810-a4a8-4f4c-be3c-608dacd58adf",
      "name": "Sticky · 4 · Route",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        866,
        -511
      ]
    },
    {
      "parameters": {
        "content": "## 5 · Act & tag\nSlack the urgent, draft a reply for review, flag leads, file newsletters, bin spam — then tag 'triaged' so nothing is handled twice. Nothing is sent automatically.",
        "height": 1071,
        "width": 566,
        "color": 7
      },
      "id": "22904de6-e789-4c1b-9dc6-692fea289ef1",
      "name": "Sticky · 5 · Act & tag",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1273,
        -511
      ]
    }
  ],
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark a message as read",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add label to message4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark a message as read": {
      "main": [
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Add label to message5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Create a draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a draft": {
      "main": [
        [
          {
            "node": "Add label to message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        [
          {
            "node": "Add label to message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  }
}
