rag-support-chatbot/workflows/chat.json
{
  "name": "Build 4 - RAG Support — Chatbot",
  "nodes": [
    {
      "parameters": {
        "content": "## Question",
        "height": 623,
        "width": 242,
        "color": 5
      },
      "id": "1dcdebf6-3462-49ea-bb8a-20e186d1aa45",
      "name": "Sticky · Question",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -60,
        -95
      ]
    },
    {
      "parameters": {
        "content": "## Retrieve + answer\nAgent searches the docs (pgvector), cites the source file, and refuses what isn't documented.",
        "height": 623,
        "width": 409,
        "color": 3
      },
      "id": "4216921d-586d-4d95-b054-015432e6fbaf",
      "name": "Sticky · Retrieve + answer",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        182,
        -95
      ]
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=You are a customer support assistant. Answer ONLY using the retrieved\ndocumentation provided by your search tool.\n- If the docs don't contain the answer, say so and offer to escalate to\n  a human — do not guess or use outside knowledge.\n- Cite the source file name for each claim.\n- Be concise and friendly. Give steps as a numbered list when relevant."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "0dde6214-06a8-4199-91bf-d8482613a42e",
      "name": "Tools Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        32,
        224
      ],
      "id": "2c9f9af0-a475-42d4-9d3c-0942439de162",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "SYpGRkU0nCCv3rd3",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Chat Trigger').item.json.sessionId }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        176,
        224
      ],
      "id": "cc1001ab-5a74-4cbd-bdb6-e34262932fbd",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Search the support documentation. Use this for any question about products, policies, refunds, or how-to.",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "topK": 5,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        416,
        192
      ],
      "id": "1165e7ab-0260-4ffe-a147-4d505d234218",
      "name": "search_docs",
      "credentials": {
        "supabaseApi": {
          "id": "TAlfwmKz0t5ZcdoB",
          "name": "Supabase API Local"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        416,
        368
      ],
      "id": "311a514e-bea0-41bf-882e-99312cf499d7",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "SYpGRkU0nCCv3rd3",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "c2b9aa74-c4c0-4695-bf32-7ed603993f42",
      "name": "Chat Trigger",
      "webhookId": "3b64184a-e697-4678-ab7a-4e9fbf5d5369"
    }
  ],
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Tools Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Tools Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "search_docs": {
      "ai_tool": [
        [
          {
            "node": "Tools Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "search_docs",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "Tools Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  }
}