rag-support-chatbot/workflows/ingestion.json
{
  "name": "Build 4 - RAG Support — Ingestion (Drive → Supabase)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        1264,
        112
      ],
      "id": "a1c28f20-fb0d-4847-b097-66cda162ac50",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "YOUR_DRIVE_FOLDER_ID",
            "mode": "list",
            "cachedResultName": "YOUR_DRIVE_FOLDER_ID"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1664,
        112
      ],
      "id": "06bb29ef-37ab-4eac-84b9-1476aa8e1db1",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "7qbp6h6nyqUmVNmI",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1856,
        112
      ],
      "id": "17c02bdd-8e07-4763-803a-5740492d6389",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "7qbp6h6nyqUmVNmI",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        2080,
        112
      ],
      "id": "da1e07ba-0c4e-4ef3-9f66-07ab405503d3",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        2512,
        112
      ],
      "id": "3eb01050-0f30-4f4d-a0c8-c487a27ad32f",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "TAlfwmKz0t5ZcdoB",
          "name": "Supabase API Local"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $('Extract from File').item.json.data }}",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "fileId",
                "value": "= {{ $('Search files and folders').item.json.id }}"
              },
              {
                "name": "fileName",
                "value": "={{ $('Search files and folders').item.json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        2480,
        352
      ],
      "id": "410cad38-5b0f-40a3-a453-797fdc6a61ce",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "chunkSize": 800,
        "chunkOverlap": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        2480,
        544
      ],
      "id": "41697df1-40b2-4c81-974c-5aade160ff7c",
      "name": "Recursive Character Text Splitter1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        2384,
        352
      ],
      "id": "f9566979-4fe0-471d-93ba-89d880d0ecc0",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "SYpGRkU0nCCv3rd3",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM documents;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1456,
        112
      ],
      "id": "455649f0-cc66-4578-8830-76cb17c171de",
      "name": "Execute a SQL query",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "IxhHw1xeHq7a4xYh",
          "name": "Supabase Local"
        }
      }
    },
    {
      "parameters": {
        "content": "## 📥 Build 4 - RAG Ingestion (Drive -> Supabase)\nWatches a Google Drive folder -> extracts file text -> recursive chunking -> embeds -> Supabase vector store. Keeps the support chatbot's knowledge fresh.\n**Google Drive - text-embedding - Supabase**",
        "height": 687,
        "width": 368,
        "color": 7
      },
      "id": "03d004c0-f4ab-47dc-8dad-073a5181f589",
      "name": "Sticky · Schedule",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1204,
        17
      ]
    },
    {
      "parameters": {
        "content": "## Sync Drive\nList + download new files; SQL check skips anything already ingested.",
        "height": 687,
        "width": 600,
        "color": 2
      },
      "id": "abda534a-2f78-4696-96be-91402f199c59",
      "name": "Sticky · Sync Drive",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1572,
        17
      ]
    },
    {
      "parameters": {
        "content": "## Chunk + embed → store\nSplit, embed, and write to the vector store.",
        "height": 687,
        "width": 515,
        "color": 3
      },
      "id": "f2efbd0f-1d52-4501-9108-7d2823f5876c",
      "name": "Sticky · Chunk + embed → store",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2172,
        17
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  }
}
