telegram-agent/workflows/multi-tool-telegram-agent.json
{
  "name": "Multi tool Agent triggered by Telegram",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        -1488,
        192
      ],
      "id": "2aa341dc-4826-40e5-9a2b-e4f5646ae111",
      "name": "Telegram Trigger",
      "webhookId": "d56708f7-9926-4e77-b0bf-3ea8949306b2",
      "credentials": {
        "telegramApi": {
          "id": "9s1U2dq1vlhA4DVm",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "ffed2693-af93-4dca-a065-e299a844ba0e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "dd20cff7-6005-46ce-9f66-5ff1ca3fae0c",
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1072,
        192
      ],
      "id": "25ceb0ec-ad25-454d-a571-b71ee8f088e9",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "387521b8-a68e-45a6-9d1d-4c27e0742ab4",
              "name": "Text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -784,
        112
      ],
      "id": "3d377b71-432e-4aaf-a58c-c430ae7a682d",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text || $('Edit Fields').item.json.Text }}",
        "options": {
          "systemMessage": "=# Role\nYou are a assistant with access to multiple tools\n\n# Behavior\nYou respond concisely and succintly in a friendly and approachable style\n\n# Date and Time {{ $now }}\n\n# Tools\nYou have access to multiple tools and always use the approriate one depending on the task.\n\n\n##Gmail tool\nuse this tool everytime you need to do something with mails. If you send a mail, you sign every  email with \"Patrick\" and never use empty placeholder for names.\nEnsure emails are well-formatted with proper body.\n\n##Calendar tool\nuse this tool every time you need to do something with the calendar.\n\n##Search Agent\nuse this tool to search the web, hackernews, and wikipedia."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -416,
        112
      ],
      "id": "ca94a2fe-3d53-4369-b72a-c940446309fb",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -416,
        320
      ],
      "id": "37df75d8-d244-4be8-8ab8-115301337186",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Re9Hguci7X6C0pKF",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -864,
        288
      ],
      "id": "b1a42ece-d821-4259-b343-339582022a4d",
      "name": "Get a file",
      "webhookId": "6a931d1a-56fb-46d6-96e6-49c3ab0ef69e",
      "credentials": {
        "telegramApi": {
          "id": "9s1U2dq1vlhA4DVm",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        -704,
        288
      ],
      "id": "cb9bd90b-cba7-4453-99db-6a28185ecd8a",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "Re9Hguci7X6C0pKF",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Switch').item.json.message.chat.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        -320,
        320
      ],
      "id": "43798f95-5393-4998-a00f-61f562c16d2b",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Switch').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        176,
        112
      ],
      "id": "40e64522-9b91-4872-bdce-225bff16f5f8",
      "name": "Send a text message",
      "webhookId": "93c66429-3a34-4803-aad7-218a9b7b252d",
      "credentials": {
        "telegramApi": {
          "id": "9s1U2dq1vlhA4DVm",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "description": "Use this tool whenever you are dealing with mails",
        "workflowId": {
          "__rl": true,
          "value": "nEzmAuykUHExA12L",
          "mode": "list",
          "cachedResultUrl": "/workflow/nEzmAuykUHExA12L",
          "cachedResultName": "Sub Workflow Mails"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -48,
        528
      ],
      "id": "2d5d04f0-ca58-460d-ad90-a2c93e614558",
      "name": "Call 'Sub Workflow Mails'"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a personal assistant operating inside a Telegram bot. You receive messages\nfrom a single user — either typed text or transcribed voice notes — and reply\nconversationally. Today's date and time should be treated as the current moment;\nalways resolve relative dates (\"tomorrow\", \"next Friday\", \"in two hours\") against it.\n\n## Your tools\n- **Sub Calendar Agent** — use for anything about the user's schedule: creating,\n  reading, updating, or checking events and availability on Google Calendar.\n- **Call 'Sub Workflow Mails'** — use to read, search, draft, or send email.\n- **Search Agent** — use for current information, facts, news, or anything you don't\n  already know or that may have changed since your training.\n\n## How to decide\n1. If the request needs live data, scheduling, or email, call the matching tool.\n2. If it's general conversation, opinion, or something you already know, just answer.\n3. Never invent calendar events, emails, or search results. If a tool returns nothing\n   useful, say so plainly instead of guessing.\n4. You may call more than one tool when a request needs it (e.g. \"find a free slot\n   tomorrow and email Sam to confirm\").\n\n## Before acting\n- For anything that sends or changes something (creating an event, sending an email),\n  confirm the key details back to the user first unless they were fully explicit.\n- When details are missing (time, recipient, subject), ask one short clarifying\n  question rather than assuming.\n\n## Style\n- Keep replies short and natural — this is a chat, often heard as audio. Avoid bullet\n  lists and markdown unless the user asks for structure. Write the way you'd speak.\n- Be warm and direct. No filler, no \"As an AI\" disclaimers.\n- Use the conversation memory to stay consistent with what the user told you earlier.\n\n## Important\n- The user's message may be a voice transcription, so it can contain small errors or\n  odd phrasing — interpret intent charitably.\n- After a tool runs, summarize the result for the user in plain language; don't dump\n  raw tool output.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        0,
        0
      ],
      "id": "4e497509-14ab-487b-a602-5c6a706f562d",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        0,
        272
      ],
      "id": "c0516472-8f9e-4e72-92b8-9973d9ba61ea",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "Re9Hguci7X6C0pKF",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "input": "={{ $json.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        352,
        0
      ],
      "id": "61823955-6fb3-41b9-ab92-21512f7feb57",
      "name": "Generate audio",
      "credentials": {
        "openAiApi": {
          "id": "Re9Hguci7X6C0pKF",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAudio",
        "chatId": "={{ $('Switch').item.json.message.from.id }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        0
      ],
      "id": "31fcd072-0863-4949-b291-7ef157f09d12",
      "name": "Send an audio file",
      "webhookId": "7ee527dc-e930-40f5-9db1-9146783a5354",
      "credentials": {
        "telegramApi": {
          "id": "9s1U2dq1vlhA4DVm",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "4bd1d921-5a2f-4211-b3b1-5cac27dbd1b8",
              "leftValue": "={{ $json.message.chat.id }}",
              "rightValue": 7521461831,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "5ffcc1e9-1366-4433-814f-01815cd93da4",
              "leftValue": "={{ $json.message.chat.username }}",
              "rightValue": "fatquick",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1312,
        192
      ],
      "id": "18cb934f-da25-4230-bd5d-cfe0d6016536",
      "name": "If"
    },
    {
      "parameters": {
        "description": "Use this tool to search the web for current information, news, facts, or anything\nyou don't already know or that may have changed recently. The input should be a\nplain-text search query describing what to look up (e.g. \"latest Anthropic news\").\nReturns the search results as text.",
        "workflowId": {
          "__rl": true,
          "value": "1W81FOpLZBV8Dw4t",
          "mode": "list",
          "cachedResultUrl": "/workflow/1W81FOpLZBV8Dw4t",
          "cachedResultName": "Telegram1  sub workflow search"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        144,
        528
      ],
      "id": "6e2d157d-06b6-4cc6-9de9-3f96919ae04b",
      "name": "Call 'Telegram1  sub workflow search'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "QYvGaZRsxmuuxLxy",
          "mode": "list",
          "cachedResultUrl": "/workflow/QYvGaZRsxmuuxLxy",
          "cachedResultName": "Sub Calender Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -272,
        512
      ],
      "id": "23c5c237-2260-4389-8735-a8ebf95ccd68",
      "name": "Call 'Sub Calender Agent'"
    },
    {
      "parameters": {
        "content": "## 🤝 Multi-Tool Telegram Agent\nTelegram bot backed by an AI agent with multiple tools + delegated sub-workflows (routed via switch) - text/image handling, memory, and tool workflows.\n**OpenAI agent - Telegram - sub-workflow tools**",
        "height": 783,
        "width": 266,
        "color": 7
      },
      "id": "218249fd-3622-4b85-bd0e-53a1caf647ff",
      "name": "Sticky · Message in",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1548,
        -95
      ]
    },
    {
      "parameters": {
        "content": "## Route\nText vs voice.",
        "height": 783,
        "width": 539,
        "color": 6
      },
      "id": "32de50d9-b1d3-4966-b2d7-5ece4d993081",
      "name": "Sticky · Route",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1282,
        -95
      ]
    },
    {
      "parameters": {
        "content": "## Transcribe + reason\nWhisper transcribes voice; the agent routes to sub-agents for search, calendar and mail.",
        "height": 783,
        "width": 705,
        "color": 3
      },
      "id": "fc4748ec-b919-400f-8c6d-c7c08bfde831",
      "name": "Sticky · Transcribe + reason",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -743,
        -95
      ]
    },
    {
      "parameters": {
        "content": "## Reply\nText, or generate audio and send it back.",
        "height": 783,
        "width": 773,
        "color": 7
      },
      "id": "4bd0bccc-aa38-4d2d-9af0-e811a96ad1d7",
      "name": "Sticky · Reply",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -38,
        -95
      ]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Sub Workflow Mails'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Generate audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Generate audio": {
      "main": [
        [
          {
            "node": "Send an audio file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Telegram1  sub workflow search'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Sub Calender Agent'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  }
}
