outbound-feedback-bot/workflows/1-outbound-dialer.json
{
  "name": "Outbound Feedback Bot — Dialer",
  "nodes": [
    {
      "parameters": {
        "content": "## Start dial\nManual / scheduled kick-off.",
        "height": 255,
        "width": 310,
        "color": 5
      },
      "id": "e543668e-87bc-4b46-9185-42ea8ff89f38",
      "name": "Sticky · Start dial",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -236,
        -95
      ]
    },
    {
      "parameters": {
        "content": "## Lead list + DNC guard\nLoad leads and skip anyone on the do-not-call list before dialing.",
        "height": 255,
        "width": 400,
        "color": 2
      },
      "id": "3c4378b8-6ae0-44db-9fb1-0c054610c8ba",
      "name": "Sticky · Lead list + DNC guard",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        74,
        -95
      ]
    },
    {
      "parameters": {
        "content": "## Place AI call\nHTTP → Vapi (GPT-4o-mini voice over Twilio).",
        "height": 255,
        "width": 325,
        "color": 3
      },
      "id": "dd48d1f5-a168-400d-ac21-cf1c8c213db6",
      "name": "Sticky · Place AI call",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        474,
        -95
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_SHEET_ID",
          "mode": "list",
          "cachedResultName": "YOUR_SHEET_ID"
        },
        "sheetName": {
          "__rl": true,
          "value": 1374242549,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YWGe4IpQGyPtr5-GlM3QZkxLurxCdlXsX0MXQDzgvE0/edit#gid=1374242549"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "06828e68-afee-45af-8aca-4a4d6d3012d2",
      "name": "Get row(s) in sheet",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yMqkk4M0kF50KIC0",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.vapi.ai/call",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  assistantId: \"89dccc48-1ae9-4526-82bb-6a25eda99d5f\",\n  phoneNumberId: \"d5959d0f-4f65-45a9-ac4a-9a6ef79cbbc8\",\n  customer: { number: String($json.phone).startsWith('+') ? String($json.phone) : '+' + String($json.phone) },\n  assistantOverrides: {\n    variableValues: { customerName: $json.name, business: $json.business }\n  }\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        0
      ],
      "id": "df283f82-b976-4a0a-b1b3-5f88c000703c",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mV2e0zHo28aBSvle",
          "name": "Vapi Header"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_SHEET_ID",
          "mode": "list",
          "cachedResultName": "YOUR_SHEET_ID"
        },
        "sheetName": {
          "__rl": true,
          "value": 247554161,
          "mode": "list",
          "cachedResultName": "Do Not Call",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YWGe4IpQGyPtr5-GlM3QZkxLurxCdlXsX0MXQDzgvE0/edit#gid=247554161"
        },
        "filtersUI": {
          "values": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        0,
        0
      ],
      "id": "22ed1199-d53c-4aba-9dd7-a304adec3b44",
      "name": "Get DNC",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yMqkk4M0kF50KIC0",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f89fb3d4-98a1-45ef-9b6d-d234014d73f8",
              "leftValue": true,
              "rightValue": "={{ !$('Get DNC').all().map(i => String(i.json.phone).replace(/\\D/g,'')).includes(String($json.phone).replace(/\\D/g,'')) }}",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "8222948a-392f-4516-acf8-4a0d896f0541",
      "name": "Not on DNC"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -176,
        0
      ],
      "id": "a58cf083-7077-4141-996c-9da022672065",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "connections": {
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Not on DNC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Not on DNC": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get DNC": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get DNC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  }
}