outbound-feedback-bot/workflows/1-outbound-dialer.json
[
  {
    "updatedAt": "2026-07-09T22:35:34.090Z",
    "createdAt": "2026-07-09T14:51:51.420Z",
    "id": "Kfp06BQZGbAqIojQ",
    "name": "Outbound Feedback Bot — Dialer",
    "description": null,
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "YOUR_SHEET_ID",
            "mode": "list",
            "cachedResultName": "Outbound Call Log",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 1374242549,
            "mode": "list",
            "cachedResultName": "Sheet2",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID/edit#gid=1374242549"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          208,
          0
        ],
        "id": "06828e68-afee-45af-8aca-4a4d6d3012d2",
        "name": "Get row(s) in sheet",
        "executeOnce": true,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "yMqkk4M0kF50KIC0",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://api.vapi.ai/call",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({\n  assistantId: \"YOUR_ASSISTANT_ID\",\n  phoneNumberId: \"YOUR_PHONE_NUMBER_ID\",\n  customer: { number: String($json.phone).startsWith('+') ? String($json.phone) : '+' + String($json.phone) },\n  assistantOverrides: {\n    variableValues: { customerName: $json.name, business: $json.business }\n  }\n}) }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          624,
          0
        ],
        "id": "df283f82-b976-4a0a-b1b3-5f88c000703c",
        "name": "HTTP Request",
        "credentials": {
          "httpHeaderAuth": {
            "id": "mV2e0zHo28aBSvle",
            "name": "Vapi Header"
          }
        }
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "YOUR_SHEET_ID",
            "mode": "list",
            "cachedResultName": "Outbound Call Log",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 247554161,
            "mode": "list",
            "cachedResultName": "Do Not Call",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID/edit#gid=247554161"
          },
          "filtersUI": {
            "values": []
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          0,
          0
        ],
        "id": "22ed1199-d53c-4aba-9dd7-a304adec3b44",
        "name": "Get DNC",
        "alwaysOutputData": true,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "yMqkk4M0kF50KIC0",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "f89fb3d4-98a1-45ef-9b6d-d234014d73f8",
                "leftValue": true,
                "rightValue": "={{ !$('Get DNC').all().map(i => String(i.json.phone).replace(/\\D/g,'')).includes(String($json.phone).replace(/\\D/g,'')) }}",
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.3,
        "position": [
          416,
          0
        ],
        "id": "8222948a-392f-4516-acf8-4a0d896f0541",
        "name": "Not on DNC"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          -176,
          0
        ],
        "id": "a58cf083-7077-4141-996c-9da022672065",
        "name": "When clicking ‘Execute workflow’"
      }
    ],
    "connections": {
      "Get row(s) in sheet": {
        "main": [
          [
            {
              "node": "Not on DNC",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Not on DNC": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get DNC": {
        "main": [
          [
            {
              "node": "Get row(s) in sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When clicking ‘Execute workflow’": {
        "main": [
          [
            {
              "node": "Get DNC",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "binaryMode": "separate",
      "availableInMCP": false
    },
    "staticData": null,
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "nodeGroups": [],
    "pinData": {},
    "versionId": "cc15dc5a-c80e-46db-9977-596d55bb5607",
    "activeVersionId": null,
    "versionCounter": 38,
    "triggerCount": 0,
    "sourceWorkflowId": null,
    "tags": [],
    "shared": [
      {
        "updatedAt": "2026-07-09T14:51:51.425Z",
        "createdAt": "2026-07-09T14:51:51.425Z",
        "role": "workflow:owner",
        "workflowId": "Kfp06BQZGbAqIojQ",
        "projectId": "PlPV7NzkP8IUO5iX",
        "project": {
          "updatedAt": "2026-07-05T01:59:27.501Z",
          "createdAt": "2026-07-05T01:57:50.631Z",
          "id": "PlPV7NzkP8IUO5iX",
          "name": "Patrick Sales <you@example.com>",
          "type": "personal",
          "icon": null,
          "description": null,
          "customTelemetryTags": [],
          "creatorId": "915728a1-cf61-4d3a-b6be-54603facefe9"
        }
      }
    ],
    "versionMetadata": {
      "name": null,
      "description": null
    }
  }
]