competitor-intelligence/workflows/digest.json
{
  "name": "Build 2 - Digest",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 8 * * 1"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "7a193c0e-ef93-4e23-ac5f-87d1b65b870c",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "items",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "5cf71a1e-b4ba-4889-9895-cc7cee4235a8",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a competitive analyst. The items below are competitor changes across THREE separate businesses, tagged by a \"brand\" field:\n- Wedded Wonderland (weddings)\n- Liviti Property (Australian property investment)\n- Closers Cult (high-ticket sales training)\n\nWrite a weekly intel brief ORGANIZED INTO THREE SECTIONS — one per brand, in that order. Use the brand name as each section heading. Under each brand, cover: (1) the most important moves, (2) any pricing/product/offer changes, (3) a short watch list. Cite each competitor by name. Only use the evidence in the items — do not speculate. If a brand has no notable items this week, write \"No significant moves this week.\" under its heading.\n\nItems (each tagged with its brand): {{ JSON.stringify($json.items) }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        624,
        0
      ],
      "id": "a7c83c20-0544-4d7c-8abc-7f3223548977",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        624,
        224
      ],
      "id": "03f2bdf4-a110-4a90-84e4-bdbdd33cb73c",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "SYpGRkU0nCCv3rd3",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "you@example.com",
        "subject": "= Weekly Competitor Intel Brief — {{ $now.toISODate() }}",
        "emailType": "text",
        "message": "={{ $json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        960,
        128
      ],
      "id": "f981db35-8b17-434e-aeb5-8ce801b0b52a",
      "name": "Send a message",
      "webhookId": "492fc44e-169e-4969-9b68-cf7e016d66fa",
      "credentials": {
        "gmailOAuth2": {
          "id": "dku6asR2rjX2ypmP",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "YOUR_SLACK_CHANNEL_ID",
          "mode": "id"
        },
        "text": "={{ $json.text }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [
        960,
        -96
      ],
      "id": "703cb9d4-546b-45a9-89b0-ba40086c4833",
      "name": "Send a message1",
      "webhookId": "8ff94ef1-b8ce-4c66-8ae0-60f7e2f95908",
      "credentials": {
        "slackApi": {
          "id": "1OmcAA2AKHVVunVC",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "intel_log",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "created_at",
              "condition": "gt",
              "keyValue": "={{ $now.minus(7,'days').toISO() }}"
            },
            {
              "keyName": "significance",
              "condition": "neq",
              "keyValue": "low"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        192,
        0
      ],
      "id": "227c1a33-7949-4582-b50b-ee321049c2fd",
      "name": "Get many rows",
      "credentials": {
        "supabaseApi": {
          "id": "TAlfwmKz0t5ZcdoB",
          "name": "Supabase API Local"
        }
      }
    },
    {
      "parameters": {
        "content": "## 📰 Build 2 - Daily Content Digest\nScheduled: pulls new items from Supabase, AI writes a digest, delivers to Gmail + Slack.\n**OpenAI - Supabase - Gmail - Slack**",
        "height": 575,
        "width": 270,
        "color": 7
      },
      "id": "50015905-9446-4db7-8753-0997a8036fde",
      "name": "Sticky · Weekly schedule",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -60,
        -191
      ]
    },
    {
      "parameters": {
        "content": "## Gather the week\nPull the week's changes and aggregate.",
        "height": 575,
        "width": 312,
        "color": 2
      },
      "id": "a18f4f25-5d45-4876-9783-4f4af1eb45a7",
      "name": "Sticky · Gather the week",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        210,
        -191
      ]
    },
    {
      "parameters": {
        "content": "## Write the brief\nSectioned weekly summary.",
        "height": 575,
        "width": 328,
        "color": 3
      },
      "id": "d547fcd2-4315-4449-93f5-199c8c2d2c63",
      "name": "Sticky · Write the brief",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        522,
        -191
      ]
    },
    {
      "parameters": {
        "content": "## Deliver\nEmail + Slack.",
        "height": 575,
        "width": 285,
        "color": 7
      },
      "id": "77c1a71f-ea4c-4de6-b647-1901b9fb8254",
      "name": "Sticky · Deliver",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        850,
        -191
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  }
}
