competitor-intelligence/workflows/digest.json
{
  "name": "Competitor Intel - Digest",
  "nodes": [
    {
      "parameters": {
        "content": "## Weekly schedule",
        "height": 559,
        "width": 274,
        "color": 5
      },
      "id": "c5e688e2-6bc3-46bc-8e22-7d1803f76e2e",
      "name": "Sticky · Weekly schedule",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -60,
        -191
      ]
    },
    {
      "parameters": {
        "content": "## Gather the week\nPull the week's changes and aggregate.",
        "height": 559,
        "width": 296,
        "color": 2
      },
      "id": "ef02c5bc-c6a8-40f8-af3a-86b0b4f9d547",
      "name": "Sticky · Gather the week",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        214,
        -191
      ]
    },
    {
      "parameters": {
        "content": "## Write the brief\nSectioned weekly summary.",
        "height": 559,
        "width": 324,
        "color": 3
      },
      "id": "201a25d8-5d2b-46c1-a9a3-e9606e334b0a",
      "name": "Sticky · Write the brief",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        510,
        -191
      ]
    },
    {
      "parameters": {
        "content": "## Deliver\nEmail + Slack.",
        "height": 559,
        "width": 301,
        "color": 7
      },
      "id": "0e4476d9-932b-468e-8e9f-218ff6b02325",
      "name": "Sticky · Deliver",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        834,
        -191
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 8 * * 1"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "7a193c0e-ef93-4e23-ac5f-87d1b65b870c",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "intel_log",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "created_at",
              "condition": "gt",
              "keyValue": "={{ $now.minus(7,'days').toISO() }}"
            },
            {
              "keyName": "significance",
              "condition": "neq",
              "keyValue": "low"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "9f543864-5b27-4344-9ab6-e6fbb5b603fc",
      "name": "Get many rows",
      "credentials": {
        "supabaseApi": {
          "id": "REPLACE_WITH_YOUR_SUPABASE_CREDENTIAL",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "items",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "5cf71a1e-b4ba-4889-9895-cc7cee4235a8",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a competitive analyst. The items below are competitor changes across THREE separate businesses, tagged by a \"brand\" field:\n- Brand A (weddings)\n- Brand B (Australian property investment)\n- Brand C (high-ticket sales training)\n\nWrite a weekly intel brief ORGANIZED INTO THREE SECTIONS — one per brand, in that order. Use the brand name as each section heading. Under each brand, cover: (1) the most important moves, (2) any pricing/product/offer changes, (3) a short watch list. Cite each competitor by name. Only use the evidence in the items — do not speculate. If a brand has no notable items this week, write \"No significant moves this week.\" under its heading.\n\nItems (each tagged with its brand): {{ JSON.stringify($json.items) }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        624,
        0
      ],
      "id": "a7c83c20-0544-4d7c-8abc-7f3223548977",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        560,
        208
      ],
      "id": "03f2bdf4-a110-4a90-84e4-bdbdd33cb73c",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "REPLACE_WITH_YOUR_OPENAI_CREDENTIAL",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "you@example.com",
        "subject": "= Weekly Competitor Intel Brief — {{ $now.toISODate() }}",
        "emailType": "text",
        "message": "={{ $json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        960,
        128
      ],
      "id": "f981db35-8b17-434e-aeb5-8ce801b0b52a",
      "name": "Send a message",
      "webhookId": "49c4047a-c1cb-4ca7-b0ac-483024834e9e",
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_WITH_YOUR_GMAIL_CREDENTIAL",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "YOUR_SLACK_CHANNEL_ID",
          "mode": "list",
          "cachedResultName": "your-channel"
        },
        "text": "={{ $json.text }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [
        960,
        -96
      ],
      "id": "703cb9d4-546b-45a9-89b0-ba40086c4833",
      "name": "Send a message1",
      "webhookId": "9816d900-e852-4071-83db-6ae37045d2bd",
      "credentials": {
        "slackOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_SLACK_CREDENTIAL",
          "name": "Slack account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "nodeGroups": [],
  "tags": []
}