ai-voice-front-desk/workflows/outbound-sdr-dialer.json
{
  "name": "VFD — Outbound Call (Twilio)",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "98262b37-bb85-40e7-a7c3-edb332ff89d3",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "call",
        "from": "YOUR_PHONE_NUMBER",
        "to": "={{ String($json.Phone).startsWith('+') ? String($json.Phone) : '+' + String($json.Phone) }}",
        "twiml": true,
        "message": "=<Response>\n  <Say voice=\"Polly.Joanna\">Hi {{ $json.Name }}, this is Bella from Glow Salon. We have a few openings this week — would you like to book a haircut or a styling appointment?</Say>\n  <Gather input=\"speech\" action=\"https://YOUR_PUBLIC_N8N_URL/webhook/voice-respond\" method=\"POST\" speechTimeout=\"auto\"/>\n  <Say voice=\"Polly.Joanna\">No problem, we'll reach out another time. Goodbye.</Say>\n</Response>",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "87340fbd-9183-431d-895d-717a1b567791",
      "name": "Make a call",
      "credentials": {
        "twilioApi": {
          "id": "ikZGrC1P6M9xYG6B",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_SHEET_ID",
          "mode": "list",
          "cachedResultName": "YOUR_SHEET_ID"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "4e03e9b5-a7b9-429a-808f-f944a4590599",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yMqkk4M0kF50KIC0",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## 📤 VFD - Outbound Call\nPlaces outbound Twilio calls from a Sheets list (manual trigger).\n**Twilio - Google Sheets**",
        "height": 255,
        "width": 222,
        "color": 7
      },
      "id": "0939696f-9cdc-45dd-803c-3263d49564cd",
      "name": "Sticky · Start dial",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -60,
        -95
      ]
    },
    {
      "parameters": {
        "content": "## Lead list\nPulls the next lead from the sheet.",
        "height": 255,
        "width": 208,
        "color": 2
      },
      "id": "0a839faa-cc39-401b-abf6-dd908718d882",
      "name": "Sticky · Lead list",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        162,
        -95
      ]
    },
    {
      "parameters": {
        "content": "## Place the call\nTwilio dials the lead with a personalized pitch.",
        "height": 255,
        "width": 221,
        "color": 7
      },
      "id": "6955e63f-0fe7-4d6f-921f-7a31e31ccc66",
      "name": "Sticky · Place the call",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        370,
        -95
      ]
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Make a call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  }
}
